<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/login.css' %}">
    <link rel="JSstyle" href="{% static '/login.js' %}">
</head>
<body>
    <section class="container">
        <div class="span-6">
          <div class="login">
            <h1>Welcome!</h1>
            <div class="login-content">
              <label id="emailLabel">Please enter a valid email</label>
              <input id="email"  placeholder="Email">
              <label id="passwordLabel">Please enter your password</label>
              <input type="password" id="password" placeholder="Password"><br>
                <a href="#">Forgot Username </a>&#x2022<a href="#"> Forgot Password</a><br>
              
              <input type="submit" value="Login">
              <a href="/signup"><input type="button" value="SignUp"></a>
              
            </div>
          </div>
        </div>
</body>
</html>
